* {
    padding: 0px;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    position: fixed;
    width: 100%;
    opacity: 0.8;
    z-index: 1;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 5.5rem;
    padding-left: 5.5rem;
    color: #d68253;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    padding-right: 5.5rem;
    padding-left: 5.5rem;
    color: #09d8f3;
}

#fullpage {
    height: 100vh;
}

#fullpage section {
    height: 100vh;
    overflow: hidden;
}

#fullpage section:nth-child(1) {
    background-image: url(../assets/web-design-2038872_1920.jpg);
    background-size: cover;
    background-position-y: 0%;


}

.content {
    width: 40%;
    margin: 20% auto;
    text-align: center;
}

.content h1 {
    font-size: 400%;
    color: #fb9d57;
}

.content h3 {
    font-size: 1.75rem;
    background-color: #5c6163;
    display: inline;
    color: #e4dfcb;
    border-radius: 0.4em;
    width: 83em;
}

.content h1 span {
    color: #03a9f4;
}

.about h1,
.portfolio h1 {
    text-align: center;
    margin: 20px 0px;
    font-size: 250%;
    padding-top: 30px;

}

.about h1 span {
    color: #03a9f4;
}

.about_content {
    display: flex;
    width: 90%;
    margin: 0px auto;
    box-shadow: -4px 4px 7px 0px black;
    text-align: justify;
}

.about_content .img {
    width: 320px;
    border-radius: 100%;
    height: 317px;
    margin: 110px auto;
}

.about-para {
    width: 60%;
    margin: 115px auto;
}

.about-para ul {
    display: flex;

}

.about-para ul li {
    margin: 0px auto;
    list-style: none;
}

.portfolio {
    width: 90%;
    margin: 0 auto;
}

.portfolio h4 {
    text-align: center;
    margin: 50px;
}

.port_pic {
    display: flex;
    flex-wrap: wrap;
}

.port_pic a {
    margin: 0px auto;
    text-decoration: none;
    margin-top: 25px;
}

.port_pic a img {
    width: 25vw;
    height: 25vh;
    margin: 0px auto;
}

.port_pic a h3 {
    color: black;
    text-align: right;

}

.contact {
    background-image: url(../assets/pexels-photo.jpg);
    background-repeat: no-repeat;
    width: 1140px;
    margin: 0px auto;
}

.contact-info {
    margin: 0px auto;
    box-shadow: 4px 5px 17px black;
    background-color:#e7e7e7;
    text-align: center;
    position: relative;
    top: 35%;
    left: 15%;
}

.contact-info:hover{
    transition:1000ms;
    transform: scale(1.2);
}

.contact-info ul{
    display:flex;
}

.contact-info ul li {
    margin: 2px auto;
    list-style: none;
    height: 33px;
    width: 102px;
}

.contact_form {
    width: 410px;
    height: 100vh;
    position: relative;
    right: -131px;
    top: 39px;
    text-align: center;
}


footer{
    background-color:black;
    opacity:.5;
    color: #e4dfcb;
    text-align: center;
    height:30px;
    margin-top: 20px;
}


/* media query */

@media screen and (max-width: 645px) {
    #fullpage section:nth-child(1) {
        max-width: 645px;
        
        height: 509px;
    }

    .content {
        width: 80%;
        margin: 26% auto;
    }
}