* {
    padding: 0px;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    position: fixed;
    width: 100%;
    opacity: 0.8;
    z-index: 1;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 5.5rem;
    padding-left: 5.5rem;
    color: #d68253;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    padding-right: 5.5rem;
    padding-left: 5.5rem;
    color: #09d8f3;
}

#fullpage section {
    
    overflow: hidden;
}

#fullpage section:nth-child(1) {
    background-image: url(../assets/web-design-2038872_1920.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.content {
    width: 40%;
    margin: 20% auto;
    text-align: center;
}

.content h1 {
    font-size: 400%;
    color: #fb9d57;
}

.content h3 {
    font-size: 1.75rem;
    background-color: #5c6163;
    display: inline;
    color: #e4dfcb;
    border-radius: 0.4em;
    width: 83em;
}

.content h1 span {
    color: #03a9f4;
}

.about h1,
.portfolio h1 {
    text-align: center;
    margin: 20px 0px;
    font-size: 250%;
    padding-top: 30px;

}

.about h1 span {
    color: #03a9f4;
}
.cont_pics{
    margin:0px auto;
}

.img {
    width: 290px;
    border-radius: 100%;
    height: 355px;
}

.about{
    padding:162px 0;
}

.about-para ul {
    display: flex;

}

.about-para ul li {
    margin: 0px auto;
    list-style: none;
}

.portfolio {
    width: 90%;
    margin: 0 auto;
}

.portfolio h4 {
    text-align: center;
    margin: 15px;
}

.portfolio img { 
height: 254px;
border: 2px solid;
width: 100%;
}

#contact {
    background-image: url(../assets/pexels-photo.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin: 0px auto;
}

.contact-info {
    box-shadow: 4px 5px 17px black;
    background-color:#e7e7e7;
    text-align: center;
    /* margin: 262px 0px; */
}

.contact-info:hover{
    transition:1000ms;
    transform: scale(1.03);
}

.contact-info ul{
    display:flex;
}

.contact-info ul li {
    margin: 2px auto;
    list-style: none;
    height: 33px;
}

.contact_form {
    width: 1155px;
    height: 700px;
    opacity: .9;
    margin: 75px auto;
}


footer{
    background-color:black;
    opacity:.5;
    color: #e4dfcb;
    text-align: center;
    height:30px;
    margin-top: 20px;
}


/* media query */

@media screen and (max-width: 860px) {

    .navbar-nav {
        text-align: center;
    }

    .nav-item {
        border: 2px solid #03a9f4;
    }
    
    .content {
        width: 92%;
        margin: 25% auto;
        font-size: 8px;
    }
    .about{
        padding:0px;
        text-align: center;
    }
    p {
        margin-top: 0;
        margin-bottom: 1rem;
        text-align: justify;
    }

    .contact_form {
        width: 380px;
        opacity: .9;
        margin: -19px 0px;
    }
    
}